<%- include('./header'); %>

<section class="hero is-warning is-small">
    <div class="hero-body">
      <p class="title">
        changement de PNJ principale
      </p>
      
    </div>
  </section>
<%- include('./navbar'); %>


<form class="row g-3" action="/changer" method="post">

    <div style="display: flex;flex-direction: column">
        <% Object.values(manipPNJ.pnj).forEach(element => { %>
            <% if(element.nom !== undefined){ %>
            <div style="display: flex;">
                <p > <%= element.nom %> </br> description : <%= element.attribut.description %> </p>
                <button  name ='PNJ' value="<%= element.nom %>" class="button">selectionner</button>
                <button name ='change' value="<%= element.nom %>" class="button">changer</button>
                <button name ='supp' value="<%= element.nom %>" class="button">suprimmer</button>
            </div>
            <% } %>
        <% }); %>
    </div>

</form>




    

<%- include('./footer'); %>