<%- include('./header'); %>

<section class="hero is-warning is-small">
    <div class="hero-body">
      <p class="title">
        FICHE PERSO <%= perso.personnage.perso %>
      </p>
      
    </div>
  </section>
<%- include('./navbar'); %>

<!-- style -->


<!-- table -->


    
    <%- perso.config.TableauPerso(perso.personnage.perso) %>


<%- include('./footer'); %>