<%- include('./header'); %>

<section class="hero is-warning is-small">
    <div class="hero-body">
      <p class="title">
        création/edition de PNJ
      </p>
      
    </div>
  </section>
<%- include('./navbar'); %>


<form action="/modifier" method="post">
<div class="column is-three-fifths is-offset-one-fifth ">
  <p> nom : <input class="text" type="text" name="nom" value ="<%= manipPNJ.pnj.nom %>"></p>
  <p>description :  </p>
  <textarea class="textarea" name="description" placeholder="description"><%= manipPNJ.pnj.attribut["description"] %></textarea>
  
  <div class="box">
    <table class="table is-fullwidth">
      

      <tbody>
        <tr>
          <th> <font size="4">santé physique</font></br><input class="number" type="number" name="santé physique" value ="<%= manipPNJ.pnj.attribut["santé physique"] %>" ></th>
          <th> <font size="4">santé spirituel</font></br><input class="number" type="number" name="santé spirituel" value ="<%= manipPNJ.pnj.attribut["santé spirituel"] %>"</th>
        </tr>
      </tbody>
    </table>

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th> <font size="6">FORCE</font></br><input class="number" type="number" name="FORCE" value ="<%= manipPNJ.pnj.attribut["FORCE"] %>" ></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th> <font size="4">musculature</font></br><input class="number" type="number" name="musculature" value ="<%= manipPNJ.pnj.attribut["musculature"] %>"></th>
          <th> <font size="4">vélocité</font></br><input class="number" type="number" name="vélocité" value ="<%= manipPNJ.pnj.attribut["vélocité"] %>" ></th>
        </tr>
        
      </tbody>
    </table>

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th> <font size="6">CHARISME</font></br><input class="number" type="number" name="CHARISME" value ="<%= manipPNJ.pnj.attribut["CHARISME"] %>" ></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th> <font size="4">manipulation</font></br><input class="number" type="number" name="manipulation" value ="<%= manipPNJ.pnj.attribut["manipulation"] %>"></th>
          <th> <font size="4">intimidation</font></br><input class="number" type="number" name="intimidation" value ="<%= manipPNJ.pnj.attribut["intimidation"] %>"></th>
        </tr>
        
      </tbody>
    </table>

  </table>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th> <font size="6">ATHLÉTISME</font></br><input class="number" type="number" name="ATHLÉTISME" value ="<%= manipPNJ.pnj.attribut["ATHLÉTISME"] %>"></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th> <font size="4">équilibre</font></br><input class="number" type="number" name="équilibre" value ="<%= manipPNJ.pnj.attribut["équilibre"] %>"></th>
        <th> <font size="4">agilité</font></br><input class="number" type="number" name="agilité" value ="<%= manipPNJ.pnj.attribut["agilité"] %>"></th>
      </tr>
      
    </tbody>

    <tbody>
      <tr>
        <th> <font size="4">dextérité</font></br><input class="number" type="number" name="dextérité" value ="<%= manipPNJ.pnj.attribut["dextérité"] %>"></th>
        <th> <font size="4">esquive</font></br><input class="number" type="number" name="esquive" value ="<%= manipPNJ.pnj.attribut["esquive"] %>" ></th>
      </tr>
      
    </tbody>
  </table>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th> <font size="6">CONNAISSANCE</font></br><input class="number" type="number" name="CONNAISSANCE" value ="<%= manipPNJ.pnj.attribut["CONNAISSANCE"] %>"></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th> <font size="4">culture générale</font></br><input class="number" type="number" name="culture générale" value ="<%= manipPNJ.pnj.attribut["culture générale"] %>" ></th>
        <th> <font size="4">culture mythologie</font></br><input class="number" type="number" name="culture mythologie" value ="<%= manipPNJ.pnj.attribut["culture mythologie"] %>" ></th>
      </tr>
      
    </tbody>

    <tbody>
      <tr>
        <th> <font size="4">culture magique</font></br><input class="number" type="number" name="culture magique" value ="<%= manipPNJ.pnj.attribut["culture magique"] %>"></th>
        <th> </th>
      </tr>
      
    </tbody>
  </table>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th> <font size="6">PERCEPTION</font></br><input class="number" type="number" name="PERCEPTION" value ="<%= manipPNJ.pnj.attribut["PERCEPTION"] %>"></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th> <font size="4">vue</font></br><input class="number" type="number" name="vue" value ="<%= manipPNJ.pnj.attribut["vue"] %>"></th>
        <th> <font size="4">ouie</font></br><input class="number" type="number" name="ouie" value ="<%= manipPNJ.pnj.attribut["ouie"] %>"></th>
      </tr>
      
    </tbody>

    <tbody>
      <tr>
        <th> <font size="4">fouille</font></br><input class="number" type="number" name="fouille" value ="<%= manipPNJ.pnj.attribut["fouille"] %>"></th>
        <th> <font size="4">instinct</font></br><input class="number" type="number" name="instinct" value ="<%= manipPNJ.pnj.attribut["instinct"] %>"> </th>
      </tr>
      
    </tbody>
  </table>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th> <font size="6">CONCENTRATION</font></br><input class="number" type="number" name="CONCENTRATION" value ="<%= manipPNJ.pnj.attribut["CONCENTRATION"] %>"></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th> <font size="4">focalisation</font></br><input class="number" type="number" name="focalisation" value ="<%= manipPNJ.pnj.attribut["focalisation"] %>"></th>
        <th> <font size="4">initiative</font></br><input class="number" type="number" name="initiative" value ="<%= manipPNJ.pnj.attribut["initiative"] %>"></th>
      </tr>
      
    </tbody>

    <tbody>
      <tr>
        <th> <font size="4">discrétion</font></br><input class="number" type="number" name="discrétion" value ="<%= manipPNJ.pnj.attribut["discrétion"] %>"></th>
        <th> <font size="4">orientation</font></br><input class="number" type="number" name="orientation" value ="<%= manipPNJ.pnj.attribut["orientation"] %>"> </th>
      </tr>
      
    </tbody>
  </table>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th> <font size="6">RÉSISTANCE PHYSIQUE</font></br><input class="number" type="number" name="RÉSISTANCE PHYSIQUE" value ="<%= manipPNJ.pnj.attribut["RÉSISTANCE PHYSIQUE"] %>"></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th> <font size="4">fatigue</font></br><input class="number" type="number" name="fatigue" value ="<%= manipPNJ.pnj.attribut["fatigue"] %>"></th>
        <th> <font size="4">violence</font></br><input class="number" type="number" name="violence" value ="<%= manipPNJ.pnj.attribut["violence"] %>"></th>
      </tr>
      
    </tbody>

    <tbody>
      <tr>
        <th> <font size="4">immunité</font></br><input class="number" type="number" name="immunité" value ="<%= manipPNJ.pnj.attribut["immunité"] %>"></th>
        <th></th>
      </tr>
      
    </tbody>
  </table>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th> <font size="6">RÉSISTANCE MENTAL</font></br><input class="number" type="number" name="RÉSISTANCE MENTAL" value ="<%= manipPNJ.pnj.attribut["RÉSISTANCE MENTAL"] %>"></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th> <font size="4">émotions</font></br><input class="number" type="number" name="émotions" value ="<%= manipPNJ.pnj.attribut["émotions"] %>" ></th>
        <th> <font size="4">résistance magique</font></br><input class="number" type="number" name="résistance magique" value ="<%= manipPNJ.pnj.attribut["résistance magique"] %>" ></th>
      </tr>
      
    </tbody>
  </table>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th> <font size="6">MAGIE</font></br></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th> <input class="number" type="text" name="nommagie1" > : <input class="number" type="number" name="nbmagie1" ></th>
        <th> <input class="number" type="text" name="nommagie2" > : <input class="number" type="number" name="nbmagie2" ></th>
      </tr>
      
    </tbody>
  </table>

  <input class="button" type="submit" name="valider" value="valider" >

  </div>


</div>
</form>
    
   
   

<%- include('./footer'); %>